################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

\!.vs/
\program tester connect database/WindowsApplication7/WindowsApplication7/bin/Debug
